# **DAY1** :*Python BASICS* 
### #'#' is used for single line comments
## ''' ''' ised for multi line comments

In [ ]:
#PRINT HEllO WORLD
print("hello,User")

In [ ]:
#variable creation
#No declaration is needed for Python
x = 5
y = "John"
print(x)
print(y)

To get datatype of the variable function type() is used 

---

In [ ]:
#print the datatype 
x = 5
print(type(x))

In [ ]:
#input from keyboard
a=input("press any key")
print(a)

In [ ]:
#If ELSE
a=input("press 1 for hello :")
if a == "1":
  print("hello")
else:
  print("hi")

In [ ]:
#ELIF
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")


# **LIST**
A list is a collection which is ordered and changeable. 
### In python  lists are written using square brackets

In [ ]:
list1 = ["a", "b", "c"]
print(list1)

In [ ]:
#mention index of the value in list to access particular one
list1 = ["a", "b", "c"]
print(list1[1])

In [ ]:
#range of indexes
#Where to start and end
list1 = ["a","b","c","d","e","f","g","h"]
print(list1[2:5])

In [ ]:
#to change the value
list1 = ["a", "b", "c"]
list1[2]="d"
print(list1)

In [ ]:
#to print list one by one 
#using loop
list11 = ["a", "b", "c"]
for x in list1:
  print(x)

In [ ]:
#to check Wheather particular item exist
list1 = ["a", "b", "c"]
if "a" in list1:
  print("Yes, 'a' is in the  list")

In [ ]:
#to print no of items in list 
#using len()
list1 = ["a", "b", "c"]
print(len(list1))

In [ ]:
#to add items to the list
#using append()
list1 = ["a", "b", "c"]
list1.append("d")
print(list1)

In [ ]:
#to add particular value at a position
#using insert()
list1 = ["a", "c", "d"]
list1.insert(1, "b")
print(list1)

In [ ]:
#to remove particular value
#Using remove()
list1 = ["a", "b", "c"]
list1.remove("b")
print(list1)

In [ ]:
#pop() removes the specified index or the last item if index is not specified
list1 = ["a", "b", "c"]
list1.pop()
print(list1)

In [ ]:

#del keyword removes the specified index
list1 = ["a", "b", "c"]
del list1[0]
print(list1)

In [ ]:
#clear() to empty list
list1 = ["a", "b", "c"]
list1.clear()
print(list1)

In [35]:
#To copy a list
#using copy()
list1 = ["a", "b", "c"]
list2 = list1.copy()
print(list2)

['a', 'b', 'c']

In [ ]:
#Join two list
list1 = ["a", "b", "c"]
list2 = ["d"]
list3=list1+list2
print(list3)

# **Methods**
###clear()	Removes all the elements from the list
###copy()	Returns a copy of the list
###extend()	Add the elements of a list (or any iterable), to the end of the current list
###index()	Returns the index of the first element with the specified value
###insert()	Adds an element at the specified position
###pop()	Removes the element at the specified position
###remove()	Removes the item with the specified value
###reverse()	Reverses the order of the list
###sort()	Sorts the list