# **DAY2 :Python BASICS**
#'#' is used for single line comments
# ''' ''' ised for multi line comments

# **TUPLE**
### A tuple is a collection which is ordered and unchangeable. 
# In Python tuples are written with round brackets.

In [ ]:
tuple1 = ("a", "b", "c")
print(tuple1)

In [ ]:
''' 
Tuples are unchangeable , so to change the value
convert tuple to list
change the list 
convert then again back to tuple
'''
x = ("a", "b", "c")
y = list(x)
y[1] = "d"
x = tuple(y)

print(x)

# **LOOPS**
Python has 2 primitive loops


1.   While
2.   for

# WHILE LOPP

In [ ]:
#WHile loop

i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
#break to stop when condition satisfy
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
#Continue ,to stop current and execute the next
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
#else to print when exiting the loop
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

# FOR LOOP

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
#break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

In [ ]:
#to loop the code multiple times we can use range()
for x in range(6):
  print(x)
#NoTE: value will be from 0 to 5 wil not include last one

In [12]:
#for loops cannot be empty, but in some reason you  have a for loop with no content
#put in the pass statement to avoid getting an error.
for x in [0, 1, 2]:
  pass