# DAY 3:Python BASICS

# **Python Functions**
### Functions are a block of code which runs when it is called.
### Can have arguements as parameter and can also return value

In [1]:
#defining the function
def my_func():
  print("Hello ,From your  function")

#calling the function
my_func()

Hello ,From your  function

In [ ]:
#with Arguements
def my_func(arguement):
  print(arguement)

my_func("Robert")
my_func("Downey")
my_func("JR")

In [ ]:
#Multiple Arguements
def my_func(argue1, argue2,argue3):
  print(argue1 + " " +argue2 + " "+argue3)

my_func("Robert", "Downey","JR")

In [ ]:
#DEFAULT PARAMETER
def my_function(country = "England"):
  print("I am from " + country)

my_function("India")
my_function()
my_function("Brazil")

In [ ]:
#With return Values
def my_func(x):
  return 5 * x

print(my_func(3))
print(my_func(5))
print(my_func(9))

# **Python Arrays**
#append()	Adds an element at the end of the list
#clear()	Removes all the elements from the list
#copy()	Returns a copy of the list
#count()	Returns the number of elements with the specified value
#extend()	Add the elements of a list (or any iterable), to the end of the current list
#index()	Returns the index of the first element with the specified value
#insert()	Adds an element at the specified position
#pop()	Removes the element at the specified position
#remove()	Removes the first item with the specified value
#reverse()	Reverses the order of the list
#sort()	Sorts the list

In [8]:
#array declared using []
cars = ["Ford", "Volvo", "BMW"]
print(cars)

['Ford', 'Volvo', 'BMW']

In [ ]:
#ADD ONE MORE USING append()
cars = ["Ford", "Volvo", "BMW"]
print(cars)
cars.append("Honda")
print(cars)

In [ ]:
#remove Using pop()
cars = ["Ford", "Volvo", "BMW"]
print(cars)
cars.pop()
print(cars)